@define-color selected-text #edc4a0;
@define-color text #9c4f3f;
@define-color base #1F211B;
@define-color border #9c4f3f;
@define-color foreground #9c4f3f;
@define-color background #1F211B;



@define-color hover #edc4a0;


window .search-container,
window .search {
  background: alpha(@hover, 0.7);
  color: @foreground;
  border: 1px solid alpha(@border, 0.5);
  border-radius: 12px;
  box-shadow: inset 0 0 6px alpha(#9c4f3f, 1);
  text-shadow: 0 0 1px grey;
  padding: 8px 12px;
  margin: 4px 0;
  font-size: 14px;
  font-weight: 500;
}
